<%= link_to 'javascript:history.back()'  do %>
    <div class="arrow-back">
      <svg
        width="35"
        height="35"
        viewBox="0 0 35 35"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.47978 17.1464C5.28452 17.3417 5.28452 17.6583 5.47978 17.8536L8.66176 21.0355C8.85702 21.2308 9.1736 21.2308 9.36887 21.0355C9.56413 20.8403 9.56413 20.5237 9.36887 20.3284L6.54044 17.5L9.36887 14.6716C9.56413 14.4763 9.56413 14.1597 9.36887 13.9645C9.1736 13.7692 8.85702 13.7692 8.66176 13.9645L5.47978 17.1464ZM24.5 17L5.83333 17V18L24.5 18V17Z"
          fill="#003674"
        />
      </svg>
    </div>
    <% end %>
<div class="container-icarus">
  <h1 class="text-center">Le Navire</h1>
  <h3 class="text-center">- Travaux -</h3>

  <section class="section">
    <div class="space-between">
      <h4>Tâches en cours </h4><div class="space-between"><p>Voir</p><i class="fas fa-plus accordeon"></i></div>
    </div>
    <p>Total : <%= Work.open.count %></p>
    <div class="scroll-list --hidden">
      <div class="scroll-shadow --top"></div>
      <% Work.open.order("created_at desc").each do |w| %>
        <%= link_to work_path(w), class: "listing" do %>
          <p><%= w.name %> </p> </p> </p><p><%= w.created_at.day %>/<%= w.created_at.month %>/<%= w.created_at.year %></p>
        <% end %>
      <% end %>
      <div class="scroll-shadow --bot"></div>
    </div>
  </section>

  <section class="section">
    <div class="space-between">
      <h4>Tâches réalisées </h4><div class="space-between"><p>Voir</p><i class="fas fa-plus accordeon"></i></div>
    </div>
    <p>Total : <%= Work.closed.count %></p>
    <div class="scroll-list --hidden">
      <div class="scroll-shadow --top"></div>
        <% Work.closed.order("created_at desc").each do |w| %>
          <%= link_to work_path(w), class: "listing" do %>
            <p><%= w.name %> </p> </p><p><%= w.created_at.day %>/<%= w.created_at.month %>/<%= w.created_at.year %></p>
          <% end %>
        <% end %>
        <div class="scroll-shadow --bot"></div>
    </div>
  </section>

  <section class="section">
      <%= link_to new_work_path, class: "button-icarus" do %>
      <h4>Créer une nouvelle tâche</h4>
      <% end %>
  </section>

</div>
