<div class="navbar-mobile-icarus">
  <ul class="navbar-mobile-list">
    <%= link_to root_path do%>
    <li><i class="icons fas fa-home"></i></li>
    <% end %> <%= link_to crew_path do%>
    <li><i class="icons fas fa-users"></i></li>
    <% end %> <%= link_to treasury_path do%>
    <li><i class="icons fas fa-gem"></i></li>
    <% end %> <%= link_to map_path do%>
    <li><i class="icons fas fa-map-marked-alt"></i></li>
    <% end %> <%= link_to ship_path do%>
    <li><i class="icons fas fa-ship"></i></li>
    <% end %>
  </ul>
</div>
