<%= link_to 'javascript:history.back()'  do %>
    <div class="arrow-back">
      <svg
        width="35"
        height="35"
        viewBox="0 0 35 35"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.47978 17.1464C5.28452 17.3417 5.28452 17.6583 5.47978 17.8536L8.66176 21.0355C8.85702 21.2308 9.1736 21.2308 9.36887 21.0355C9.56413 20.8403 9.56413 20.5237 9.36887 20.3284L6.54044 17.5L9.36887 14.6716C9.56413 14.4763 9.56413 14.1597 9.36887 13.9645C9.1736 13.7692 8.85702 13.7692 8.66176 13.9645L5.47978 17.1464ZM24.5 17L5.83333 17V18L24.5 18V17Z"
          fill="#003674"
        />
      </svg>
    </div>
    <% end %>
<div id="formModal">
</div>
<div class="container-icarus">

  <h1 class="text-center">Tresorerie</h1>
  <h3 class="text-center">- Général-</h3>

  <section class="section">
    <div id="chartDiv">
      <canvas id="myChart" style="margin-bottom: 4vmin;" data-cpts="<%=@data_cpts%>" data-debts="<%=@data_debts%>"></canvas>
    </div>
    <div class="show-portrait-container">
      <% User.team.each do |worker|%>
          <div class="portrait-column">
            <% if worker.portrait %>
              <%= image_tag(worker.portrait, :class => "portrait --small #{worker.name}") %>
            <% end %>
            <p><%= worker.name %></p>
          </div>
      <% end %>
    </div>
  </section>

  <section id="debt-section" class="section">
    <h3>Etat des relations actuelles : </h3>
      <% if Debt.general[0] != [] %>
        <% Debt.general[0].each do |d| %>
          <p><%= d %></p>
          <% end %>
      <% else %>
        <p>Personne ne doit rien à personne...on s'ennuierait presque !</p>
      <% end %>
  </section>

  <section class="section">
    <div class="space-between">
      <h3>Capitaine <%= current_user.name %></h3>
      <div class="space-between"><p>Voir</p><i class="fas fa-plus accordeon"></i></div>
    </div>
    <div class="scroll-list --hidden">
      <%= link_to new_spent_path, class: "button-icarus", remote: true do %><h4>Ajouter une dépense</h4><% end %>
      <%# <div class="button-icarus"><h4>Rembourser</h4></div> %>
      <%= link_to captain_path, class: "button-icarus" do %><h4>Mes dépenses</h4><% end %>
    </div>
  </section>

  <section class="section">
    <div class="space-between">
      <h3>L'Equipage</h3><div class="space-between"><p>Voir</p><i class="fas fa-plus accordeon"></i></div>
    </div>
    <div class="scroll-list --hidden">
      <%= link_to spents_path, class: "button-icarus" do %><h4>Toutes les dépenses</h4><% end %>
      <div class="button-icarus"><h4>Caisse de bord</h4></div>
    </div>
  </section>

</div>