<%= link_to 'javascript:history.back()' do %>
<div class="arrow-back">
  <svg
    width="35"
    height="35"
    viewBox="0 0 35 35"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M5.47978 17.1464C5.28452 17.3417 5.28452 17.6583 5.47978 17.8536L8.66176 21.0355C8.85702 21.2308 9.1736 21.2308 9.36887 21.0355C9.56413 20.8403 9.56413 20.5237 9.36887 20.3284L6.54044 17.5L9.36887 14.6716C9.56413 14.4763 9.56413 14.1597 9.36887 13.9645C9.1736 13.7692 8.85702 13.7692 8.66176 13.9645L5.47978 17.1464ZM24.5 17L5.83333 17V18L24.5 18V17Z"
      fill="#003674"
    />
  </svg>
</div>
<% end %>
<h1 class="text-center">Calendrier</h1>
<div class="container-icarus">
  <section class="calendrier-room">
    <div class="calendrier-section section--1">
      <h3>Proposez une sortie</h3>
    </div>
    <div class="calendrier-new">
      <div class="cross">
        <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
        <ellipse cx="23.2107" cy="22.8259" rx="16.2807" ry="16" transform="rotate(45 23.2107 22.8259)" fill="#003674"/>
        <line x1="15.0912" y1="29.5312" x2="29.916" y2="14.7064" stroke="white" stroke-width="2"/>
        <line x1="15.7071" y1="14.2929" x2="30.7921" y2="29.3778" stroke="white" stroke-width="2"/>
        </svg>
      </div>
      <%= simple_form_for (@reservation) do |f| %>
        <%= f.input :start_day, as: :string, required: true, label: false, input_html: {id: "start_day", class: "d-none"} %>
        <%= f.input :end_day, as: :string, required: true, label: false, input_html: {id: "end_day", class: "d-none"} %>
        <%= f.input :name, required: true, label: false, placeholder: "Nommer la sortie" %>
        <p><%= f.button :submit, value: "Proposez cette sortie"%></p>
      <% end %>
    </div>
    <div class="calendrier-section section--2">
      <h3>Sorties précédentes</h3>
    </div>
    <div class="calendrier-index">
      <div class="cross2">
        <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
        <ellipse cx="23.2107" cy="22.8259" rx="16.2807" ry="16" transform="rotate(45 23.2107 22.8259)" fill="#003674"/>
        <line x1="15.0912" y1="29.5312" x2="29.916" y2="14.7064" stroke="white" stroke-width="2"/>
        <line x1="15.7071" y1="14.2929" x2="30.7921" y2="29.3778" stroke="white" stroke-width="2"/>
        </svg>
      </div>
      <div class="calendrier-index-list">
      <% @reservations.each do |reservation| %>
        <div class="card-trip">
          <div class="card-trip-white-part"></div>
          <div class="card-trip-blue-part">
          <h4><%= reservation.destination %></h4>
          <p><em><%= reservation.name %></em></p>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </section>
</div>
